@import "tailwindcss";
@tailwind utilities;

.animated-divider {
  height: 4px;
  background: linear-gradient(90deg, #f9a8d4, #f472b6, #f9a8d4);
  background-size: 200% 100%;
  animation: slide 3s linear infinite;
  border-radius: 9999px;
}

@keyframes slide {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


@keyframes fall {
  0%   { transform: translateY(-10px) scale(var(--scale)); opacity: 0; }
  10%  { opacity: 1; }
  100% { transform: translateY(110vh) scale(var(--scale)); opacity: 0; }
}

.heart {
  animation: fall 6s linear infinite;
}